{% extends "network/layout.html" %} 
{% load crispy_forms_tags %} 
{% load static %} 



{% block body %} 
    <div id="profile">
        <div class="details">
            <div style="display: flex;justify-content:space-between;">
                <h5><strong>{{user_to_show}}</strong></h5>
                {% if user.is_authenticated and user_to_show != user %}
                    <button type="button" class="btn btn-sm btn-light following_button" onclick="follow(this,{{user_to_show.id}})">
                        {% if is_following  %}
                            Unfollow
                            {% else %}
                            Follow
                        {% endif %} 
                    </button>
                {% endif %}
            </div>
            <div class="text-muted" id="follows" style="display:flex;gap:10px;">
                <div><small>Followers</small> <strong id="followers">{{user_to_show.followers_count}}</strong></div>
                <div><small>Following</small> <strong>{{user_to_show.followings_count}}</strong></div>
            </div>
        </div>
        {% for post in paginated_posts %}
            {% include 'network/components/post.html' with post=post post_form=post_form %}
        {% endfor %}
        {% include 'network/components/paginator.html' with paginated_posts=paginated_posts %}

    </div>
    <script  src="{% static 'network/index.js' %}"></script>
{% endblock %}
